body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin: 0;
}
*,
*::before,
*::after{
    box-sizing:border-box;
} 
h1, h2, h3, h4, h5, h6, p{
    margin: 0; 
}
/* The sidebar menu */
.sidenav {
    height: 100%; 
    width: 300px; 
    position: fixed;
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #17181D;
    overflow-x: hidden; 
    padding-top: 20px;

    display: flex;
    align-items: center;
    flex-direction: column;
}
.line{
    display: block;
    width: 300px;
    border: 1px solid rgba(147, 127, 111, 0.3);
    margin-top: 39px;
}
#phone{
    display: flex;
    justify-content: space-between;
    width: 182px;
    height: 44px;
    margin-top: 25px;
    margin-bottom: 26px;
}
#phone p{
    font-weight: 700;
    font-size: 18px;
    line-height: 45px;

    color: #FFF4DE;
}
#phone :hover{
    color: #A98567;
}
/* The navigation menu links */
nav a {
    display: block;
    margin-left: -36px;
    font-weight: 700;
    font-size: 18px;
    line-height: 45px;
    text-decoration: none;
    color: #A98567;
}

/* change their color */
nav a:hover {
    color: #f1f1f1;
}

#search_border{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 240px;
    min-height: 50px;
    margin-top: 30px;
    padding: 0px 20px;
    border: 1px solid rgba(169, 133, 103, 0.5);
    border-radius: 3px;
}

#search_border p{
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    color: #A98567;
}
/* Button order call */
#btn_order_call {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 240px;
    min-height: 50px;
    
    margin-top: 20px;
    background: rgba(169, 133, 103, 0.3);
    border-radius: 3px;
    text-decoration: none;

    font-weight: 500;
    font-size: 15px;
    line-height: 30px;

    color: #A98567;
}
#btn_order_call:hover {
    background-color:  rgba(169, 133, 103, 0.3);
    border: 1px solid #A98567;
}
#find_us{
    display: flex;
    justify-content: space-between;
    width: 91px;
    height: 20px;
    margin-top: 30px;
}
#agree{
    margin-top: 14px;
    font-weight: 500;
    font-size: 12px;
    line-height: 25px;
    text-align: center;

    color: rgba(169, 133, 103, 0.5);

}
/* Style page content */
.main {
    margin-left: 300px; /* Same as the width of the sidebar */

}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/* main */
.intro{
    width: 100%;
    width: 1470px;
    height: 777px;
}
.container{
   display: flex;
   justify-content: space-between;
}
@media screen and (max-width: 1366px) {
    .sidenav{width: 250px;}
    .main{margin-left:250px;}
}
.intro_title{
    font-weight: 500;
    font-size: 49px;
    line-height: 56px;
    color: #FFFFFF;
}
/* Block with titel */
#intro_inner_block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 540px;
    height: 631px;

    background: #00AC78;
}
#intro_inner_content{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    width: 325px;
    height: 369px;
}
#intro_suptitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

#ygol{
    position: absolute;
    left: 85px;
    top: -21px;
	border-left: 29px solid transparent;
	border-right: 29px solid transparent;
	border-bottom: 29px solid #EFEBDE;
}
#block{
    position: absolute;
    width: 801px;
    height: 182px;
    top: 595px;
    background: #EFEBDE;
}
#block_inner{
    margin-top: 36px;
    display: flex;
    justify-content: space-around;
    
}
.text_inner{
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;

    color: #000000;
}

/* 2 page */

.cards{
    display: flex;
    justify-content: start;
    align-items: start;
}
.cards_inner{
    display: flex;
}
.cards_inner1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    width: 400px;
    height: 571px;

    background: #FFFFFF;

    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.cards_inner1 p{
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin-top: 34px;

    color: #000000;
}
.cards_inner2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    width: 400px;
    height: 571px;

    background: #FFFFFF;

    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.cards_inner2 p{
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin-top: 18px;

    color: #000000;
}
.price{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
    min-width: 161px;
    min-height: 50px;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;

    font-weight: 500;
    font-size: 18px;
    line-height: 25px;

    color: #000000;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 240px;
    min-height: 50px;
    
    margin-top: 20px;
    background: rgba(169, 133, 103, 0.3);
    border-radius: 3px;
    text-decoration: none;

    font-weight: 500;
    font-size: 15px;
    line-height: 30px;

    color: rgba(255, 255, 255, 1);
    background: rgba(0, 172, 120, 1);

}
.btn:hover {
    background-color:  rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 172, 120, 1);
    color: rgba(0, 172, 120, 1);
}
/* 3 page */
.container_1{
    width: 100%;
    max-width: 1430px;
    margin: 94px 85px 56px 85px;
}
.container_1 h1{
    margin-bottom: 60px;
    font-weight: 500;
    font-size: 49px;
    line-height: 56px;

    color: #000000;
}
#block2{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 484px;
    height: 470px;
    left: 1331px;
    top: 1488px;

    background: #FFFFFF;
}
#block2_inner{
    width: 375px;
    height: 362px;
}

#title{
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;

    color: #000000;
}
#block2 p{
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    color: #000000;
}
#price{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin-top: 20px;
    min-width: 161px;
    min-height: 50px;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;

    font-weight: 500;
    font-size: 18px;
    line-height: 25px;

    color: #000000;
}
#btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    min-width: 200px;
    min-height: 50px;
    
    margin-top: 20px;
    background: rgba(169, 133, 103, 0.3);
    border-radius: 3px;
    text-decoration: none;

    font-weight: 500;
    font-size: 15px;
    line-height: 30px;

    color: rgba(255, 255, 255, 1);
    background: rgba(0, 172, 120, 1);

}
#btn2:hover {
    background-color:  rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 172, 120, 1);
    color: rgba(0, 172, 120, 1);
}
#trans{
    position: absolute;
    width: 206px;
    height: 104px;
    left: 1466px;
    top: 2190px;

}
#trans:hover{
    border: 1px solid rgba(0, 172, 120, 1);
}